/********** Template CSS **********/
:root {
    --primary: #FF2222;
    --secondary: #8D9297;
    --light: #F8F9FA;
    --dark: #182333;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.collapse.show {
    display: block;
}

.collapse {
    display: none;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-left: 30px;
    padding: 25px 0;
    color: var(--secondary);
    font-weight: 500;
    font-family: "Montserrat";
    text-transform: capitalize;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 25px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        font-family: "Montserrat";
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: start;
    background: rgba(0, 0, 0, .65);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
    border-radius: 50px;
}

.carousel-caption .breadcrumb-item+.breadcrumb-item::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 3rem;
        height: 3rem;
        border-width: 12px;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
.facts-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, .65);
}

.facts-overlay h1 {
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
}

.facts-overlay a:hover {
    color: var(--primary) !important;
}

/*Industries*/
/*.content {
/*    position: relative;
/*    width: 90%;
/*    max-width: 400px;
/*    margin: auto;
/*    overflow: hidden;
/*    display: flex;
/*    flex-wrap: wrap;
/*}
/*
/*.content .content-overlay {
/*    background: rgba(0, 0, 0, 0.7);
/*    position: absolute;
/*    height: 99%;
/*    width: 100%;
/*    left: 0;
/*    top: 0;
/*    bottom: 0;
/*    right: 0;
/*    opacity: 0;
/*    -webkit-transition: all 0.4s ease-in-out 0s;
/*    -moz-transition: all 0.4s ease-in-out 0s;
/*    transition: all 0.4s ease-in-out 0s;
/*}
/*
/*.content:hover .content-overlay{
/*    opacity: 1;
/*}
/*
/*.content-image{
/*    width: 100%;
/*}
/*
/*.content-details {
/*    position: absolute;
/*    text-align: center;
/*    padding-left: 1em;
/*    padding-right: 1em;
/*    width: 100%;
/*    top: 50%;
/*    left: 50%;
/*    opacity: 0;
/*    -webkit-transform: translate(-50%, -50%);
/*    -moz-transform: translate(-50%, -50%);
/*    transform: translate(-50%, -50%);
/*    -webkit-transition: all 0.3s ease-in-out 0s;
/*    -moz-transition: all 0.3s ease-in-out 0s;
/*    transition: all 0.3s ease-in-out 0s;
/*}
/*
/*.content:hover .content-details{
/*    top: 50%;
/*    left: 50%;
/*    opacity: 1;
/*}
/*
/*.content-title {
/*    color: #fff;
/*}
/*
/*.content-details h3{
/*    color: #fff;
/*    font-weight: 500;
/*    letter-spacing: 0.15em;
/*    margin-bottom: 0.5em;
/*}
/*
/*.content-details p{
/*    color: #fff;
/*    font-size: 0.8em;
/*}
/*
/*.fadeIn-bottom{
/*    top: 80%;
/*} */

.content{
    position: relative
    ;width: 90%;
    max-width: 400px
    ;margin: auto
    ;overflow: hidden
}
.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute
    ;height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}
    .content:hover .content-overlay{
        opacity: 1;
        font-family: Montserrat;
    }
    
    .content-image{width: 100%}
    .content-details{
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;top: 50%;left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        font-family: Montserrat;
    }

    .content:hover .content-details{top: 50%;left: 50%;opacity: 1}
    .content-details h3{color: #fff;font-weight: 500;letter-spacing: 0.15em;margin-bottom: 0.5em;text-transform: uppercase}
    .content-details p{color: #fff;font-size: 0.8em}

/*About Us*/
.flex-center{
    display: flex;
    justify-content: center;
}

.business-container{
    text-align: center;
    width: 1300px;
    font-family: sans-serif;
    padding: 20px;
}

.inner-container{
    display: flex;
    align-items: center;
}

.desc-container{
    width: 50%;
    font-family: "Montserrat";
}

.sub-title{
    font-size: 15px;
    font-weight: bolder;
    font-weight: 700;
    padding: 20px;
    text-align: justify;
    width: 500px;
}

.description{
    font-size: 15px;
    font-weight: lighter;
    margin: 0px 20px 20px 20px;
    text-align: justify;
    width: 500px;

}

.card-container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
    font-family: "Montserrat";
}

.card{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 8px;
    border-radius: 20px; 
    box-shadow: #8D9297;
}
.card-about{
    width: 220px;
    height: 170px;
    background-color: rgb(248, 248, 248);
    margin: 10px;
    vertical-align: top;
    border-radius: 20px; 
    box-shadow: #8D9297;
}

.card-about:hover {
    
    box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2), 0 6px 20px 0 rgba(135, 135, 135, 0.19);
    text-align: center; 
}

  .card-product{
    width: 220px;
    height: 350px;
    /* background-color: rgb(241, 241, 241); */
    margin: 10px;
    padding: 8px;
    border-radius: 20px; 
    box-shadow: #8D9297;
    border: 1px solid grey;
}

.card-faq{
    width: 80%;
    height: 100%px;
    /* background-color:   rgb(225, 225, 225); */
    margin: 50px;
    padding: 8px;
    border-radius: 20px;
    /* border-color: black; */
    box-shadow: #8D9297;
    border: 1px solid rgba(0,0,0,0.125);
}

/*** Service ***/
.service-item {
    position: relative;
    z-index: 1;
}

.service-text::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: var(--primary);
    opacity: 0;
    transition: 2s ease-in-out;
    background-image:linear-gradient(180deg, #616B9F, #A4A4A4)
}

.service-item:hover .service-text::after {
    height: 100%;
    opacity:0.6;
    transition: ease-in-out 2s;

}

.service-item .service-text {
    display: none;
    
}
.service-item:hover .service-text {
    top: 0;
    display: block;
}
.service-text * {
    /* position: relative; */
    transition: .5s;
    vertical-align: middle;

}
.service-item:hover .service-text {
    color: black;
    vertical-align: middle;
    font-weight: 800;

}
   


.middle{
    text-align: center;
    vertical-align: middle;
}


/*** Appointment ***/
.appointment {
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}

/*** Table ***/

/*** title ***/
.title{
        vertical-align: middle;
        text-align: center;
        color: #182333;
        font-size: 30px;
        font-weight: 900;

        
}
.detail{
        vertical-align: middle;
        text-align: center;
        color: #8a8e95;
        font-size: 18px;
        font-weight: 200;
        
}
/* .middle{
    vertical-align: middle !important;
    text-align: center !important;
} */


/*** Team ***/
.team-text {
    position: absolute;
    width: 75%;
    bottom: 30px;
    left: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    width: 100%;
}

.team-text * {
    transition: .5s;
}

.team-item:hover .team-text * {
    letter-spacing: 2px;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}

/*FAQ */
.most-asked {
    position: relative;
  }
  
  .most-asked::before {
    content: url(../images/contact-left.jpg);
    top: -60px;
    left: 0;
    position: absolute;
    width: 103px;
    height: 464px;
    z-index: -1;
  }
  
  .most-asked::after {
    content: url(../images/contact-left.jpg);
    bottom: -90px;
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    width: 103px;
    height: 464px;
    z-index: -1;
  }
  
  .most-asked .section-heading {
    margin-bottom: 80px;
  }
  
  .most-asked .accordions .accordion {
    border-bottom: 1px solid #eee;
  }
  
  .most-asked .accordions .last-accordion {
    border-bottom: none;
  }
  
  .most-asked .accordion-head {
    padding: 35px 0px !important;  
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    
  }
  
  @media screen and (min-width: 768px) {
    .most-asked .accordion-head {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
  
  .most-asked .accordion-head .icon {
    float: right;
    transition: transform 200ms ease-in-out;
  }
  
  .most-asked .accordion-head.is-open {
    color: #5b03e4;
    border-bottom: none;
  }
  
  .most-asked .accordion-head.is-open .icon {
    transform: rotate(45deg);
  }
  
  .most-asked .accordion-body {
    padding: 0px;
    overflow: hidden;
    height: 0;
    transition: height 300ms ease-in-out;
    border-bottom: 1px solid #fff;
  }
  
  .most-asked .accordion-body > .content p {
    padding: 0px 0px 30px 0px;
    padding-top: 0;
  }
  
  .most-asked #free-quote {
    border-radius: 23px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    padding: 60px;
    margin-left: 45px;
    background-color: #fff;
  }
  
  #free-quote .section-heading {
    margin-bottom: 40px;
  }
  
  #free-quote input {
    width: 100%;
    height: 46px;
    border-radius: 23px;
    background-color: #f9ebff;
    border: none;
    outline: none;
    padding: 0px 15px;
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #free-quote input::placeholder {
    color: #2a2a2a;
  }
  
  #free-quote button {
    border: none;
    height: 46px;
    background-color: #5b03e4;
    width: 100%;
    border-radius: 23px;
    color: #fff;
    transition: all .4s;
  }
  
  #free-quote button:hover {
    opacity: 0.8;
  }

/*** Footer ***/
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Montserrat";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.current {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .year-btn {
    display: block;
    background-color: #e6e6e600;
    border: none;
    color: #333;
    padding: 8px;
    margin-bottom: 0px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    font-size: 30;
    font-weight: bold;

  }
  
  .year-btn:hover .month-list {
    display: block;
  }
  
  .month-list {
    display: none;
    background-color: #e6e6e600;
    padding: 8px;
    list-style-type: none;
    font-weight: normal;
    font-size: 16px;
  }
  
  .month-item {
    margin-bottom: 4px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  
  .dropdown-content label {
    display: block;
  }
  
  .dropdown-content input[type="checkbox"] {
    margin-right: 5px;
  }
  .dropdown {
  position: relative;
  display: inline-block;
/*** Productpage comparison chart ***/
  }
.card-product-compare-blue{
    width: 280px;
    height: 1140px;
    /* background-color:   rgb(225, 225, 225); */
    margin: 10px;
    padding: 8px;
    border:solid #a2aaf3 2px;
    box-shadow: #8D9297;
    

}
.card-product-compare-red{
    width: 280px;
    height: 1140px;
    /* background-color:   rgb(225, 225, 225); */
    margin: 10px;
    padding: 8px;
    border-radius: 1%;
    border:solid #f3a2a2 2px;
    /* border-color: black; */
    box-shadow: #8D9297;
    
}
.card-text-compare-red{
    color: #FF1717;
    text-align: center;
    padding:25px 0px;
    white-space: nowrap;
}
.card-text-compare-blue{
    color: #000580;
    text-align: center;
    padding:25px 0px;
    white-space: nowrap;
}
.latest-btn{
    display: block;
    background-color: #e6e6e600;
    border: none;
    color: #333;
    padding: 8px;
    margin-bottom: 0px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    font-size: 30;
    font-weight: bold;

}

.latest-btn{
    background-color: #FF1717;
    color: white;
}
 


.month-list li:hover a,
.month-list li.selected a {
  background-color: red;
  color: white;
}

.equal-image {
    width: 100%;
    height: 310px; /* Adjust the height as per your requirement */
    object-fit: cover;
  }
  .year-btn:hover,
.year-btn.selected,
.latest-btn:hover,
.latest-btn.selected {
  background-color: red;
  color: white;
}